<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-expand-lg navbar-light backgroundH">
        <a class="navbar-brand" href="/"><span style="color: white">Z myślą o smaku</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/panel-uzytkownika"><span style="color: white">Panel użytkownika</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="categoryBox">
    <div class="centerText">
        <table class="margin">
            <tr>
                <td><a href="/przepisy?category=BREAKFAST"><img src="https://cdn.pixabay.com/photo/2016/11/06/23/31/breakfast-1804457_960_720.jpg" height="250" width="350"></a></td>
                <td><a href="/przepisy?category=DINNER"><img src="https://cdn.pixabay.com/photo/2015/09/02/12/43/meal-918639_960_720.jpg" height="250" width="350"></a></td>
                <td><a href="/przepisy?category=SUPPER"><img src="https://cdn.pixabay.com/photo/2017/08/27/12/58/salad-2685961_960_720.jpg" height="250" width="350"></a></td>
                <td><a href="/przepisy?category=ALL"><img style="background-color: white" src="https://cdn.pixabay.com/photo/2020/06/22/13/15/food-pyramid-5329204_1280.png" height="250" width="350"></a></td>
            </tr>
            <tr>
                <th><a href="/przepisy?category=BREAKFAST"><span style="color: white">Śniadanie</span></a></th>
                <th><a href="/przepisy?category=DINNER"><span style="color: white">Obiad</span></a></th>
                <th><a href="/przepisy?category=SUPPER"><span style="color: white">Kolacja</span></a></th>
                <th><a href="/przepisy?category=ALL"><span style="color: white">Wszystkie</span></a></th>
            </tr>
        </table>
        <table class="margin">
            <tr>
                <td><a href="/przepisy?category=SNACK"><img src="https://cdn.pixabay.com/photo/2016/03/05/20/02/appetizer-1238615_960_720.jpg" height="250" width="350"></a></td>
                <td><a href="/przepisy?category=DESSERT"><img src="https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552_960_720.jpg" height="250" width="350"></a></td>
                <td><a href="/przepisy?category=DRINK"><img src="https://cdn.pixabay.com/photo/2016/02/19/11/42/coffee-1209897_960_720.jpg" height="250" width="350"></a></td>
                <td><a href="/przepisy?category=RATING"><img style="background-color: white" src="https://cdn.pixabay.com/photo/2016/04/01/09/52/cartoon-1299636_960_720.png" height="250" width="350"></a></td>
            </tr>
            <tr>
                <th><a href="/przepisy?category=SNACK"><span style="color: white">Przekąski</span></a></th>
                <th><a href="/przepisy?category=DESSERT"><span style="color: white">Deser</span></a></th>
                <th><a href="/przepisy?category=DRINK"><span style="color: white">Napoje</span></a></th>
                <th><a href="/przepisy?category=RATING"><span style="color: white">Najlepiej oceniane</span></a></th>
            </tr>
        </table>
    </div>
</div>


</body>
</html>