<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Z myślą o smaku</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styleHome.css">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-expand-lg navbar-light backgroundH">
        <a class="navbar-brand" href="#"><span style="color: white">Z myślą o smaku</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span style="color: white">Strona główna</span> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/kategorie"><span style="color: white">Kategorie</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/rejestracja"><span style="color: white">Rejestracja</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/panel-uzytkownika"><span style="color: white">Panel użytkownika</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
        </div>
    </nav>
</div>

<h1><span style="color: white"> babababba</span></h1>

</body>
</html>