<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
</body>
</head>
<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
<body>
<div class="loginbox">
    <a href="/">
        <img  src="https://cdn.pixabay.com/photo/2016/10/08/18/35/restaurant-1724294_960_720.png" class="avatar">
    </a>
    <h1>Wprowadź dane logowania</h1>
    <form method="post"  th:action="@{/login}">
        <p>Login</p>
        <input type="text" name="username" placeholder="Wpisz login">
        <p>Hasło</p>
        <input type="password" name="password" placeholder="Wpisz hasło">
        <input type="submit" name="" value="Zaloguj">
        <a href="/rejestracja">Nie masz konta?</a></br>
        <a href="/">Strona główna</a>
    </form>

</div>

</body>
</head>
</html>