<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styleR.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="categoryBoxTitle">
    <h1 class="centerText textcolor" th:text="${recipe.get().title}"></h1>
</div>
<div class="categoryBoxX">
    <div class="centerText">
        <h2 style="color: white" th:text="${recipe.get().description}"></h2></br>

        <table class="margin">
            <tr>
                <td><img th:src="${recipe.get().img}" height="250" width="350"></td>
            </tr>
            <tr>
                <td><h3 style="color: white" class="a centerText" th:text="${recipe.get().title}"></h3>
            </tr>
            <tr>

                <td><div th:switch="${rate}">
                    <p th:case="${false}"><a type="submit" th:value="true" th:href="@{/przepis?id={id}&rate={rate}(id=${recipe.get().id}, rate=true)}" class="btn btn-light"><span> Lubie to! 👍</span></a></p>
                    <p th:case="${true}"><a type="submit"   class="btn btn-light"><span>Polubione!</span></a></p>
                </div></td>
            </tr>
        </table>

        <table class="table table-striped textcolor">
            <thead>
            <tr class="backgroundTable">
                <th scope="col">Ilość</th>
                <th scope="col">Nazwa</th>
            </tr>
            </thead>
            <tbody class="backgroundTable">
            <tr class="backgroundTable" th:each="ingredient : ${ingredient}">
                <th class="backgroundTable" scope="row" th:text="${ingredient.amount}"></th>
                <td class="backgroundTable" th:text="${ingredient.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
</body>
</html>