<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
<body>
<div class="registerBox">
    <a href="/">
    <img  src="https://cdn.pixabay.com/photo/2016/10/08/18/35/restaurant-1724294_960_720.png" class="avatar">
    </a>
    <h1>Wprowadź dane żeby się zarejestrować</h1>
    <form method="post" class="positionList" th:object="${add}">
        <p>Imie</p>
        <input type="text" name="firstName" th:fild="*{firstName}" placeholder="Wpisz imie">
        <p>Nazwisko</p>
        <input type="text" name="lastName" th:fild="*{lastName}" placeholder="Wpisz nazwisko">
        <p>Login</p>
        <input type="text" name="username" th:fild="*{username}" placeholder="Wpisz login">
        <p>Hasło</p>
        <input type="password" name="password" th:fild="*{password}" placeholder="Wpisz hasło">
        <input type="submit"  value="Zarejestruj">
        <a href="/login">Posiadasz już konto?</a>
    </form>
</div>
</body>
</head>
</html>