<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="styleHome.css">-->
</head>
</head>
<body>

<h3 th:text="${name}"></h3>
<table class="table">
    <thead>
    <tr class="color">
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Autor</th>
    </thead>
    <tbody>
    <tr class="color" th:each="recipe : ${recipe}">
        <td th:text="${recipe.title}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.img}"></td>
        <td>
            <a th:href="|/kasowanie?id=${recipe.id}|" class="btn btn-secondary">Usuń</a>
            <a th:href="|/edytowanie?id=${recipe.id}|" class="btn btn-secondary">Edytuj</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>